body{
    margin: 0;
}
header{
    display: flex;
    max-width: 100%;
    height: 100px;
    background-color: #873138;
    padding: 20px;
}
.container-pri {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.menu{
    display: inline;
    float: left;
    align-items: center;
    width: 100%;
}
.menu ul{
    display: flex;
    margin: 0;
    justify-content: flex-end;
}
.menu li{
    display: inline;
    list-style: none;
    margin: 10px;
}
.menu li a {
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 20px;
    background-color: #592024;
    border-style: solid;
    border-color: white;
    border-radius: 10%;
}
@media (max-width: 768px) {
    .menu {
        display: none;
    }
}