body{
    margin: 0;
}

/*HEADER*/
header{
    display: flex;
    max-width: 100%;
    height: 100px;
    background: linear-gradient(to right, #f6eaab, #bee3af);
    padding: 20px;
}
.container-pri {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo img{
    width: 150px;
    object-fit: contain;
}
.menu{
    display: inline;
    float: left;
    align-items: center;
    width: 100%;
}
.menu ul{
    display: flex;
    margin: 0;
    justify-content: flex-end;
}
.menu li{
    display: inline;
    list-style: none;
    margin: 10px;
    border-right: 1px solid white;
    border-left: 1px solid white;

}
.menu li a {
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 20px;
}
@media (max-width: 768px) {
    .menu {
        display: none;
    }
}

/*BODY*/

.container-sec{
    display: flex;
    justify-content: center;
    width: 100%
}
.men-ini{
    align-items: center;
    justify-content: center;
}
.men-ini a{
    text-decoration: none;
    background-color: #873138;
}