body{
    margin: 0;
}

/*HEADER*/
header{
    display: flex;
    max-width: 100%;
    height: 100px;
    background: linear-gradient(to right, #f6eaab, #bee3af);
    padding: 20px;
}
.container-pri {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo img{
    width: 150px;
    object-fit: contain;
}
.menu{
    display: flex;
    justify-content: end;
    float: left;
    width: 100%;
}
.menu ul{
    display: flex;
    margin: 0;
}
.menu li{
    list-style: none;
    margin: 10px;
    border-right: 1px solid white;
    border-left: 1px solid white;

}
.menu li a {
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 25px;
}
@media (max-width: 768px) {
    .menu {
        display: none;
    }
}
/*BODY PART 1*/
.container-sec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: #bababa;
}
.mens-ini{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    gap: 10px;
    overflow: hidden;
}
.tit-00{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    margin: 20px 0 15px 0;
}
.mens-ini p{
    text-align: center;
    justify-content: center;
    font-size: 25px;
    margin:0;
}

.mens-ini a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    background-color: #873138;
    border:10px solid #873138;
    border-radius: 10px;
    margin: 15px;
}